<%= render partial: 'public/shared/header' %>

<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-md-8 mt-3 text-center">
      <div class="text-center mt-4">
        <p>このコミュニティーサイトは
          <br>皆さんが知っている雑学を
          <br>共有し、たくさんの情報が集まる場に、
          <br>できることを目的に作られています。
          <br>たくさんのご参加をお待ちしています。
        </p>
      </div>
    </div>
  </div>
</div>